{% if site.twitter_handle %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ site.twitter_handle }}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:image" content="{% if page.post_image %}{{ page.post_image | prepend: site.url }}{% else %}{{ site.cover | prepend: site.url }}{% endif %}" />
  {% if page.excerpt %}
    <meta name="twitter:description"  content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}" />
  {% elsif site.description %}
    <meta name="twitter:description" content="{{ site.description | strip_html | strip_newlines | truncate: 200 }}" />
  {% endif %}
{% endif %}
  
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
{% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}" />
{% elsif site.description %}
  <meta property="og:description" content="{{ site.description | strip_html | strip_newlines | truncate: 200 }}" />
{% endif %}
<meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.url }}{% else %}{{ site.logo | prepend: site.url }}{% endif %}" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" >
<meta property="og:type" content="blog" />
<meta property="og:locale" content="en_GB" />
